body {
    background: #00a651;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

h1 {
    display: block;
    text-align: center;
    font-weight: bold;
    color: yellow;
    font-size: 32px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
    display: block;
    text-align: center;
    font-weight: bold;
    color: yellow;
    font-size: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.cardbackground {
    /*background: #00a651;*/
}

.cardfield {
    /*background: #00a651;*/
    height: 140px;
    padding-left: 10px;
    padding-top: 10px;
}

.card {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 68px;
    height: 100px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.card p {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 35px/100px Georgia, Times New Roman, serif;
    color: black;
    cursor: pointer;
}

.username {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.title {
    display: block;
    text-align: center;
    font-weight: bold;
    color: yellow;
    font-size: 32px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.textlabel {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: none;
}

.textentry {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: 2px dotted yellow;
}

.warning {
    display: block;
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

#shareurl {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

#gamename {
    background-color: transparent;
    border: 2px dotted yellow;
    width: 100%;
}

.button {
    background-color: #3e8e41;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: darkgreen;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}